<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
    <label for="email" style="margin-left:6rem; font-size: 1.5rem;">Email</label><br>
    <input type="email" id="email" name="email" required="required" placeholder=" Your Email" style="width: 18rem; height: 2rem;" />
    <div class="form-group">
        <button type="submit" style="background-color: #0a69f0; width: 15rem; height: 2.5rem; border-radius: 0.7rem; margin-left: 1.5rem;">Log In</button>
    </div>

</form>
</body>
</html>